body {
  font-family: "vm_circular_book";
  background: url(assets/images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-weight: 200;
  font-family: "vm_circular_light";
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "vm_circular_book";
  src: url(assets/fonts/lineto-vm-circular-chat-book.woff2) format("truetype");
}

@font-face {
  font-family: "vm_circular_medium";
  src: url(assets/fonts/lineto-vm-circular-natter-medium.woff2) format("truetype");
}

@font-face {
  font-family: "vm_circular_bold";
  src: url(assets/fonts/lineto-vm-circular-shout-bold.woff2) format("truetype");
}

@font-face {
  font-family: "vm_circular_light";
  src: url(assets/fonts/lineto-vm-circular-whisper-light.woff2) format("truetype");
}
